<div class="container">
    <% if (page.path == "index.html") { %>
        <div class="blog-info">
            <h2 class="sub"><%= config.subtitle %></h2>
            <h2 class="description"><%= config.description %></h2>
            <h2 class="hobbies"><%= config.hobbies %></h2>
        </div>

        <% if (theme.blog_info_bg) { %>
        <div class="header-bg" style="background-image: url(<%= theme.blog_info_bg %>)"></div>
        <% } %>
    <% } %>
</div>