footer {
    background-color: var(--white);
    width: 100%;
    border-top: 1px solid var(--border-color);
    user-select: none;
    text-align: center;
}

.inner {
    max-width: 980px;
    margin: auto;
    padding: 16px;
    opacity: 0.5;
    font-size: 14px;
}

footer .links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 600px) {
    footer .links {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 400px) {
    footer .links {
        grid-template-columns: 1fr;
    }
}

footer .group {
    margin: 0;
    margin-bottom: 16px;
}

footer .title {
    margin: 0;
    margin-bottom: 8px;
}

footer .item {
    color: var(--footer-link-grey);
    display: block;
}

footer .footer-extra-description {
    color: var(--footer-link-grey);
    font-size: 14px;
    display: block;
    margin-top: 12px;
    margin-bottom: -12px;
}
