.blog-info {
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 20;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 800px) {
    .blog-info {
        min-width: 80%;
    }
}

.blog-info .sub {
    text-transform: uppercase;
    font-size: 24px;
    color: var(--black-4);
    font-weight: 100;
    margin: 0;
    transition: font-size 0.5s;
}

.blog-info .description,
.blog-info .hobbies {
    font-size: 60px;
    color: var(--black-2);
    margin: 0;
    padding: 10px 0;
    transition: font-size 0.5s;
}

.blog-info .hobbies {
    font-size: 40px;
    letter-spacing: 4px;
}

.header-bg {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100vw;
    z-index: 10;
    height: calc(100vh - 102px);
    background: transparent no-repeat center center;
    background-size: cover;
    opacity: 0.05;
}

@media screen and (max-width: 800px) {
    .blog-info .sub {
        font-size: 16px;
    }
    .blog-info .description {
        font-size: 45px;
    }

    .blog-info .hobbies {
        font-size: 30px;
    }
}