.blog-info {
    position: relative;
    z-index: 10;;
    height: calc(100vh - 56px);
    display: grid;
    place-items: center;
}

.blog-info .group {
    width: 100%;
}

.blog-info .sub {
    text-transform: uppercase;
    font-size: 24px;
    color: var(--black-4);
    font-weight: 100;
    margin: 0;
    transition: font-size 0.5s;
}

.blog-info .description,
.blog-info .hobbies {
    font-size: 60px;
    color: var(--black-2);
    margin: 0;
    padding: 10px 0;
    transition: font-size 0.5s;
}

.blog-info .hobbies {
    font-size: 40px;
    letter-spacing: 4px;
}

.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100vh;
    background: transparent no-repeat center center;
    background-size: cover;
    opacity: 0.1;
}

@media screen and (max-width: 800px) {
    .blog-info .sub {
        font-size: 16px;
    }
    .blog-info .description {
        font-size: 45px;
    }

    .blog-info .hobbies {
        font-size: 30px;
    }
}